fastapi==0.115.12
uvicorn==0.34.1
gunicorn==21.2.0

motor==3.7.0
pymongo==4.13.2
dnspython==2.7.0
bcrypt==4.3.0

pydantic==2.12.5
pydantic-settings==2.9.0
PyJWT==2.10.1

python-socketio==5.12.0

fastapi-mail==1.6.2
python-multipart==0.0.20

google-genai==1.11.0
httpx==0.28.1
